# Directory Temporary
.git/
.github/
.husky/
.next/
.vscode/
.cache
node_modules/
out/
skill/

# Files Configs
.dockerignore
.editorconfig
.eslintignore
.eslintrc.json
.env
.env.*
.gitignore
.lintstagedrc
.prettierignore
.prettierrc.json
.releaserc.json
commitlint.config.js
docker-compose.yml
Dockerfile

# Files Markdown
*.md
!README.md
!CHANGELOG.md
